@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(90deg,rgb(255, 163, 102,0.4) 8%,#ffffff 92%);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(202 159 131);
}

.music-container{
    display: flex;
    margin: 100px 0px;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgb(255, 133, 102);
    position: relative;
    z-index: 10;
}

.music-info{
    background-color: rgb(255, 255, 255,0.3);
    border-radius: 10px 10px 0 0;
    position: absolute;
    top: 0;
    left: 25px;
    width: calc(100% - 55px);
    padding: 10px 10px 10px 148px;
    transform: translateY(0%);
    opacity:0;
    transition: transform 0.3s ease-in-out, opacity 0.2s ease-in;
}

.music-info h4{
    margin: 0;
}

.music-container.play .music-info{
    opacity: 1;
    transform: translateY(-100%);
}

.progress-container{
    margin: 10px 0;
    width: 100%;
    height: 4px;
    background-color: #ab788580;
    border-radius: 5px;
    cursor: pointer;
}

.progress{
    background-color: #fe8daad4;
    border-radius: 5px;
    width: 0%;
    height: 100%;
    transition: width 0.1s linear;
    position: relative;
}

.progress::after{
    content:"";
    width: 1rem;
    height: 1rem;
    background-color: white;
    border: solid 1px;
    border-radius: 50%;
    position: absolute;
    left: 100%;
    transform: translate(-50%,-45%);
}

.meta-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#repeat{
    font-size: 0.8rem;
    cursor: pointer;
}

.timer{
    font-size: 1rem;
    font-weight: bold;
}

.image-container{
    position: relative;
    width: 100px;
}

.image-container::after{
    content: '';
    background-color: rgb(255, 255, 255);
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}

.image-container img{
    width: inherit;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    object-fit: cover;
    animation: rotate 2s linear infinite;
    animation-play-state: paused;
}

.music-container.play .image-container img{
    animation-play-state: running;
}

.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.control-btn{
    padding: 10px;
    margin: 0 20px;
    border: 0;
    font-size: 2    0px;
    color: rgb(255, 133, 102,0.7);
    background-color: #fff;
    cursor: pointer;
}

.control-btn-big{
    font-size: 30px;
    color: rgb(228 123 96 / 80%);
}


 @keyframes rotate{
     from{
         transform: rotate(0deg);
     }
     to{
         transform: rotate(360deg);
     }
 }